

.header{
 

background: linear-gradient(90.03deg, rgba(0, 197, 235, 0.3) -1.97%, rgba(181, 68, 254, 0.3) 89.43%);
position: absolute;
top: 20px;
left: 0;
width: 100%;
z-index: 2;

@media screen and (max-width: 767px) {
padding-top: 14px;
padding-bottom: 14px;


}
@media screen and (min-width: 768px) and (max-width: 1279px) {
padding-left: 32px;
padding-right: 32px;
}
@media screen and (min-width: 1280px) {
top: 26px;
padding-left: 16px;
padding-right: 16px;
}


}
.header-content{
display: flex;
align-items: center;
@media screen and (min-width: 768px) {
justify-content: space-between;


}
}

.header-logo{
color: $secondary-text-color;

font-weight: 400;
font-size: 28px;
line-height: 1.21;

}



.menu-background{
  
  @media screen and (max-width: 767px){
pointer-events: none;

flex-direction: column;
position: absolute;
top: 0;
left: 0;
background-color: #06071B;
width: 100%;
height: 100vh;

  transform: translateX(-100%);
transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
z-index: 3;

background-image: url(../images/mobile/7-modal-menu/gradient.png);
background-repeat: no-repeat;
background-size: cover;
  }


}
.menu-background.is-open{

pointer-events: all;

transform: translateX(0);

}



.menu-container{
@media screen and (max-width: 767px) {


position: relative;
top: -19px;
max-width: 320px;
margin-left: auto;
margin-right: auto;

}


}
.menu-icon-button{
 
display: flex;
padding: 0;
justify-content: center;
align-items: center;
width: 32px;
height: 32px;

}


.menu-close-button{
  display: flex;
  width: 32px;
  height: 32px;
position: absolute;
top: 34px;
right: 20px;
padding: 0;
background: transparent; 
border: transparent; 

@media screen and (max-width: 767px) {

}
@media screen and (min-width: 768px) {
display: none;

}

@media screen and (min-width: 1280px) {


}
}

.header-logo-modal{
  @media screen and (max-width: 767px) {


  position: absolute;
color: $secondary-text-color;

font-weight: 400;
font-size: 28px;
line-height: 1.21;
top: 34px;
left: 20px;
  }
  @media screen and (min-width: 768px) {
display: none;

}
}



.header-list{
@media screen and (max-width: 767px){
display: flex;
flex-direction: column;
gap: 36px;
text-align: center;
padding-top: 120px;

}



@media screen and (min-width: 768px) {
display: flex;
margin-left: auto;
gap: 40px;
}

}


.header-link{
color: $secondary-text-color;

@media screen and (max-width: 767px) {
font-weight: 500;
font-size: 32px;
line-height: 1.21;
}
@media screen and (min-width: 768px) {
font-weight: 400;
font-size: 12px;
line-height: 1.25;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  display: block;
padding-top: 24px;
padding-bottom: 23px;
}
@media screen and (min-width: 1280px) {
  display: block;
padding-top: 29px;
padding-bottom: 28px;
}

}


.header-link:hover,
.header-link:active
{
  @media screen and (max-width: 767px) {

background: linear-gradient(90.03deg, #00C5EB -1.97%, #B544FE 89.43%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
  }
}



.open-button-mobile{
display: flex;
align-items: center;
justify-content: center;
padding: 0;
width: 24px;
height: 16px;
background-color: transparent;
border-color: transparent;

margin-left: auto;

@media screen and (min-width: 768px) {

display: none;
}

}
