$main-text-color: #000000;
$secondary-text-color: #ffffff;
$gradient-color: linear-gradient(90.03deg, #00c5eb -1.97%, #b544fe 89.43%);
$dark-bcg: #06071b;
$light-bcg: #ffffff;

.team {
 
  padding-bottom: 0;
    
  @media screen and (max-width: 767px) {
   background-image: url(../images/mobile/4-team/gradient.png);
    background-size: cover;
    background-position: 9% 1%;


  }
  @media screen and (min-width: 768px) {
    background-image: url(../images/tablet/4-team/gradient.png);
    background-size: cover;
    background-position: 50% 50%;
    
  }

  @media screen and (min-width: 768px) and (max-width: 1279px) {
  }

  @media screen and (min-width: 1280px) {
   background-image: url(../images/desktop/4-team/gradient.png); 
   background-size: cover;
  background-position: 5% 85% ;
  }
}

.team-title {
  text-align: center;
  font-weight: 700;
  @media screen and (max-width: 767px) {
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 24px;
  }
  @media screen and (min-width: 768px) {
    font-size: 24px;
    line-height: 1.2;
  }

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    margin-bottom: 40px;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 80px;
  }
}

.team-text {
  font-weight: 500;
  text-align: center;

  @media screen and (max-width: 767px) {
    font-size: 14px;
    line-height: 1.71;
    max-width: 280px;
    height: 120px;
    margin-bottom: 40px;
  }

  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 40px;
  }

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    max-width: 704px;
    height: 72px;
  }

  @media screen and (min-width: 1280px) {
    max-width: 886px;
    height: 48px;
    margin-bottom: 80px;
    margin-left: auto;
    margin-right: auto;
  
  
  }
}

.team-list {
  display: flex;

  @media screen and (max-width: 767px) {
    flex-direction: column;
    gap: 24px;
   
  }

  @media screen and (min-width: 768px) {
   
  }

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    flex-wrap: wrap;
    column-gap: 32px;
    row-gap: 40px;
  }

  @media screen and (min-width: 1280px) {
    gap: 32px;
  }
}

.team-item {
  width: 100%;

  background: linear-gradient(
      312.87deg,
      rgba(0, 197, 235, 0.5) -0.2%,
      rgba(181, 68, 254, 0.5) 112.66%
    ),
    #06071b;
  backdrop-filter: blur(17.5px);

  border-radius: 15px;

  @media screen and (max-width: 767px) {
    padding-top: 16px;
    padding-left: 16px;
    padding-right: 16px;
  }

  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 768px) and (max-width: 1279px) {

    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    width: calc((100% - 32px) / 2);


  }

  @media screen and (min-width: 1280px) {
    padding-top: 14px;
    padding-left: 12px;
    padding-right: 12px;

    width: calc((100% - 96px) / 4);
  }
}

.team-img {
  border-radius: 11px;
}

.team-content {
  padding-top: 24px;
  padding-bottom: 12px;

  @media screen and (max-width: 767px) {
  }

  @media screen and (min-width: 768px) {
    padding-top: 20px;
  }

  @media screen and (min-width: 768px) and (max-width: 1279px) {
  }

  @media screen and (min-width: 1280px) {
  }
}

.team-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;

  color: $secondary-text-color;

  margin-bottom: 12px;
}

.team-desc {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71;
  text-align: center;

  color: $secondary-text-color;
}
