$main-text-color:#000000;
$secondary-text-color:#FFFFFF;
$gradient-color:linear-gradient(90.03deg, #00C5EB -1.97%, #B544FE 89.43%);
$dark-bcg:#06071B;
$light-bcg:#FFFFFF;

.features{



@media screen and (max-width: 767px) {
 background-image: url(../images/mobile/2-features/gradient.png);
    background-size: cover;
    background-position: 50% 50% ;

gap: 24px;
}
@media screen and (min-width: 768px) {
gap: 80px;
}
@media screen and (min-width: 1280px) {
 
  
  background-image: url(../images/desktop/2-features/gradient-desktop-features-1x.png);

  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;

padding-top: 100px;
padding-bottom: 168px;

}
@media screen and (min-width: 768px) and (max-width: 1279px) {

  
  }

}




.features-title{
  text-align: center;
font-weight: 700;
color: $main-text-color;
margin-bottom: 40px;

@media screen and (max-width: 767px) {
font-size: 20px;
line-height: 1.2;
}

@media screen and (min-width: 768px) {
 font-size: 24px;
line-height: 1.2;
}

@media screen and (min-width: 1280px) { 
 margin-bottom: 80px;

}
}

.features-text{
font-weight: 500;
text-align: center;
color: $main-text-color;
margin-bottom: 40px;


@media screen and (max-width: 767px) {
font-size: 14px;
line-height: 1.71;

}
@media screen and (min-width: 768px) {
font-size: 16px;
line-height: 1.5;
}
@media screen and (min-width: 1280px) {
margin-bottom: 141px;
width: 886px;
margin-left: auto;
margin-right: auto;
}

}

.features-content{
 
@media screen and (min-width: 768px) and (max-width: 1279px) {
 display: flex;
  }
@media screen and (min-width: 1280px) {
width: 971px;
margin-left: auto;
margin-right: auto;
 position: relative;
}


}



.features-picture{

@media screen and (min-width: 768px) and (max-width: 1279px) {
  position: absolute;
  left: -132px;
  }
@media screen and (min-width: 1280px) {
  position: absolute;
  top: -13%;
  left: 30%;
}
}


.features-img{
display: inline;
}


.features-container{

@media screen and (min-width: 768px) and (max-width: 1279px) {
  display: flex;
  flex-direction: column;
  gap: 80px;
  
  }

@media screen and (min-width: 1280px) {
display: flex;
justify-content: space-between;
}

}

.features-list{

display: flex;
flex-direction: column;

@media screen and (max-width: 767px) {

margin-top: 40px;
gap: 24px;
}
@media screen and (min-width: 768px) {
gap: 80px;
}
@media screen and (min-width: 1280px) {

}
@media screen and (min-width: 768px) and (max-width: 1279px) {
justify-content: space-between;
  
  }
}

.features-item{
 display: flex;
 

&::before{
content: '';
display: block;
width: 28px;
height: 28px;
background-image: url(../images/romb.png);
}

@media screen and (min-width: 768px) and (max-width: 1279px)  {

  margin-left: 368px;
  }
  @media screen and (min-width: 1280px) {
justify-content: baseline;
}
}



.features-item-last

{
  @media screen and (min-width: 768px)   {
  display: flex;
  margin-left: 0;
   position: absolute;
    top: 100%;
    transform: translateY(-100%);

    &::before{
content: '';
display: block;
width: 28px;
height: 28px;
background-image: url(../images/romb.png);
    }
}
} 


.features-item-last

{
  @media screen and (max-width: 767px)   {
  display: flex;
  margin-left: 0;


    &::before{
content: '';
display: block;
width: 28px;
height: 28px;
background-image: url(../images/romb.png);
    }
}
} 


.features-box{

margin-left: 12px;
}


.features-suptitle{

font-weight: 700;
font-size: 16px;
line-height: 1.5;




@media screen and (max-width: 767px) {
margin-bottom: 13px;
}
@media screen and (min-width: 768px) {
margin-bottom: 13px;
}
@media screen and (min-width: 1280px) {

}

}

.features-desc{
font-weight: 500;
font-size: 14px;
line-height: 17px;

color: $main-text-color;
max-width: 220px;
height: 68px;

@media screen and (max-width: 767px) {


}
@media screen and (min-width: 768px) and (max-width: 1279px) {
max-width: 238px;
height: 51px;
}
@media screen and (min-width: 1280px) {

}

}