html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  background-color: #FFFFFF;
  color: #000000;
  font-family: Inter, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

ul {
  list-style: none;
  padding-left: 0px;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.no-scroll {
  overflow: hidden;
}

.is-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 767px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 704px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .container {
    position: relative;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1248px;
  }
}

@media screen and (max-width: 767px) {
  .section {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
@media screen and (min-width: 768px) {
  .section {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
.header {
  background: linear-gradient(90.03deg, rgba(0, 197, 235, 0.3) -1.97%, rgba(181, 68, 254, 0.3) 89.43%);
  position: absolute;
  top: 20px;
  left: 0;
  width: 100%;
  z-index: 2;
}
@media screen and (max-width: 767px) {
  .header {
    padding-top: 14px;
    padding-bottom: 14px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .header {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .header {
    top: 26px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.header-content {
  display: flex;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .header-content {
    justify-content: space-between;
  }
}

.header-logo {
  color: #FFFFFF;
  font-weight: 400;
  font-size: 28px;
  line-height: 1.21;
}

@media screen and (max-width: 767px) {
  .menu-background {
    pointer-events: none;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #06071B;
    width: 100%;
    height: 100vh;
    transform: translateX(-100%);
    transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 3;
    background-image: url(../images/mobile/7-modal-menu/gradient.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.menu-background.is-open {
  pointer-events: all;
  transform: translateX(0);
}

@media screen and (max-width: 767px) {
  .menu-container {
    position: relative;
    top: -19px;
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
  }
}

.menu-icon-button {
  display: flex;
  padding: 0;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
}

.menu-close-button {
  display: flex;
  width: 32px;
  height: 32px;
  position: absolute;
  top: 34px;
  right: 20px;
  padding: 0;
  background: transparent;
  border: transparent;
}
@media screen and (min-width: 768px) {
  .menu-close-button {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .header-logo-modal {
    position: absolute;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 28px;
    line-height: 1.21;
    top: 34px;
    left: 20px;
  }
}
@media screen and (min-width: 768px) {
  .header-logo-modal {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .header-list {
    display: flex;
    flex-direction: column;
    gap: 36px;
    text-align: center;
    padding-top: 120px;
  }
}
@media screen and (min-width: 768px) {
  .header-list {
    display: flex;
    margin-left: auto;
    gap: 40px;
  }
}

.header-link {
  color: #FFFFFF;
}
@media screen and (max-width: 767px) {
  .header-link {
    font-weight: 500;
    font-size: 32px;
    line-height: 1.21;
  }
}
@media screen and (min-width: 768px) {
  .header-link {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.25;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .header-link {
    display: block;
    padding-top: 24px;
    padding-bottom: 23px;
  }
}
@media screen and (min-width: 1280px) {
  .header-link {
    display: block;
    padding-top: 29px;
    padding-bottom: 28px;
  }
}

@media screen and (max-width: 767px) {
  .header-link:hover,
  .header-link:active {
    background: linear-gradient(90.03deg, #00C5EB -1.97%, #B544FE 89.43%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
}

.open-button-mobile {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 24px;
  height: 16px;
  background-color: transparent;
  border-color: transparent;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .open-button-mobile {
    display: none;
  }
}

.hero-box {
  position: relative;
  background: #06071B;
}

@media screen and (max-width: 767px) and (max-width: 767px), screen and (max-width: 767px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 1), screen and (max-width: 767px) and (max-width: 767px) and (min-resolution: 96dpi), screen and (max-width: 767px) and (max-width: 767px) and (min-resolution: 1dppx) {
  .hero {
    background-image: url(../images/mobile/1-hero/hero-1-1x.png);
    background-repeat: no-repeat;
    background-position: top 0px center;
  }
}
@media screen and (max-width: 767px) and (max-width: 767px), screen and (max-width: 767px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767px) and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (max-width: 767px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url(../images/mobile/1-hero/hero-1-2x.png);
    background-repeat: no-repeat;
    background-position: top 0px center;
    background-size: 556px 663px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px), screen and (min-width: 768px) and (max-width: 1279px) and (-webkit-min-device-pixel-ratio: 1), screen and (min-width: 768px) and (max-width: 1279px) and (min-resolution: 96dpi), screen and (min-width: 768px) and (max-width: 1279px) and (min-resolution: 1dppx) {
  .decoration {
    position: absolute;
    display: block;
    width: 729px;
    height: 590px;
    top: 110px;
    left: 5px;
    background-image: url(../images/tablet/1-hero/hero-bcg-tablet-x1.png);
    background-repeat: no-repeat;
    background-size: contain;
  }
}
@media screen and (min-width: 767px) and (max-width: 1279px), screen and (min-width: 768px) and (max-width: 1279px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1279px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (max-width: 1279px) and (min-resolution: 2dppx) {
  .decoration {
    position: absolute;
    display: block;
    width: 729px;
    height: 590px;
    top: 110px;
    left: 5px;
    background-image: url(../images/tablet/1-hero/hero-bcg-tablet-x2.png);
    background-repeat: no-repeat;
    background-size: contain;
  }
}
@media screen and (min-width: 1280px), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 1), screen and (min-width: 1280px) and (min-resolution: 96dpi), screen and (min-width: 1280px) and (min-resolution: 1dppx) {
  .decoration {
    position: absolute;
    display: block;
    width: 1180px;
    height: 658px;
    top: 120px;
    left: 34px;
    background-image: url(../images/desktop/1-hero/hero-bcg-desktop-x1.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
}
@media screen and (min-width: 1280px), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .decoration {
    position: absolute;
    display: block;
    width: 1180px;
    height: 658px;
    top: 120px;
    left: 34px;
    background-image: url(../images/desktop/1-hero/hero-bcg-desktop-x2.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.hero-content {
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 767px) {
  .hero-content {
    padding-top: 182px;
    padding-bottom: 122px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .hero-content {
    padding-top: 142px;
    padding-bottom: 143px;
  }
}
@media screen and (min-width: 1280px) {
  .hero-content {
    padding-top: 243px;
    padding-bottom: 144px;
    position: relative;
  }
}

.hero-title {
  color: #FFFFFF;
  font-weight: 700;
  margin-bottom: 12px;
}
@media screen and (max-width: 767px) {
  .hero-title {
    font-size: 24px;
    line-height: 1.2;
  }
}
@media screen and (min-width: 768px) {
  .hero-title {
    font-size: 40px;
    line-height: 1.2;
  }
}
.hero-text {
  font-weight: 700;
  color: #FFFFFF;
  margin-bottom: 20px;
}
@media screen and (max-width: 767px) {
  .hero-text {
    font-size: 18px;
    line-height: 1.2;
    max-width: 241px;
  }
}
@media screen and (min-width: 768px) {
  .hero-text {
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 28px;
  }
}
.hero-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
@media screen and (max-width: 767px) {
  .hero-list {
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 768px) {
  .hero-list {
    gap: 12px;
    margin-bottom: 60px;
  }
}
.hero-item {
  display: flex;
  align-items: center;
  gap: 4px;
  font-weight: 700;
  color: #FFFFFF;
}
.hero-item:before {
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  background-image: url(../svg/li.svg);
}
@media screen and (max-width: 767px) {
  .hero-item {
    font-size: 12px;
    line-height: 1.3;
  }
}
@media screen and (min-width: 768px) {
  .hero-item {
    font-size: 16px;
    line-height: 1.2;
  }
}
.hero-button {
  background: linear-gradient(90.03deg, #00C5EB -1.97%, #B544FE 89.43%);
  border-radius: 5px;
  border: transparent;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.2;
  color: #FFFFFF;
  max-width: 200px;
  height: 42px;
  padding-top: 11px;
  padding-bottom: 12px;
  padding-left: 61px;
  padding-right: 60px;
  transform: scale(1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .hero-button {
    z-index: 2;
  }
}

.hero-button:hover,
.hero-button:active {
  transform: scale(1.1);
  cursor: pointer;
  background: transparent;
  color: #ffffff;
  font-size: 16px;
  border-radius: 5px;
  position: relative;
}
.hero-button:hover:after,
.hero-button:active:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 4px;
  background: linear-gradient(90.03deg, #00C5EB -1.97%, #B544FE 89.43%);
  background-size: 100% 100%;
  -webkit-clip-path: polygon(0% 100%, 2px 100%, 2px 2px, calc(100% - 2px) 2px, calc(100% - 2px) calc(100% - 2px), 2px calc(100% - 2px), 2px 100%, 100% 100%, 100% 0%, 0% 0%);
          clip-path: polygon(0% 100%, 2px 100%, 2px 2px, calc(100% - 2px) 2px, calc(100% - 2px) calc(100% - 2px), 2px calc(100% - 2px), 2px 100%, 100% 100%, 100% 0%, 0% 0%);
}

@media screen and (max-width: 767px) {
  .features {
    background-image: url(../images/mobile/2-features/gradient.png);
    background-size: cover;
    background-position: 50% 50%;
    gap: 24px;
  }
}
@media screen and (min-width: 768px) {
  .features {
    gap: 80px;
  }
}
@media screen and (min-width: 1280px) {
  .features {
    background-image: url(../images/desktop/2-features/gradient-desktop-features-1x.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    padding-top: 100px;
    padding-bottom: 168px;
  }
}
.features-title {
  text-align: center;
  font-weight: 700;
  color: #000000;
  margin-bottom: 40px;
}
@media screen and (max-width: 767px) {
  .features-title {
    font-size: 20px;
    line-height: 1.2;
  }
}
@media screen and (min-width: 768px) {
  .features-title {
    font-size: 24px;
    line-height: 1.2;
  }
}
@media screen and (min-width: 1280px) {
  .features-title {
    margin-bottom: 80px;
  }
}

.features-text {
  font-weight: 500;
  text-align: center;
  color: #000000;
  margin-bottom: 40px;
}
@media screen and (max-width: 767px) {
  .features-text {
    font-size: 14px;
    line-height: 1.71;
  }
}
@media screen and (min-width: 768px) {
  .features-text {
    font-size: 16px;
    line-height: 1.5;
  }
}
@media screen and (min-width: 1280px) {
  .features-text {
    margin-bottom: 141px;
    width: 886px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .features-content {
    display: flex;
  }
}
@media screen and (min-width: 1280px) {
  .features-content {
    width: 971px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .features-picture {
    position: absolute;
    left: -132px;
  }
}
@media screen and (min-width: 1280px) {
  .features-picture {
    position: absolute;
    top: -13%;
    left: 30%;
  }
}

.features-img {
  display: inline;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .features-container {
    display: flex;
    flex-direction: column;
    gap: 80px;
  }
}
@media screen and (min-width: 1280px) {
  .features-container {
    display: flex;
    justify-content: space-between;
  }
}

.features-list {
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 767px) {
  .features-list {
    margin-top: 40px;
    gap: 24px;
  }
}
@media screen and (min-width: 768px) {
  .features-list {
    gap: 80px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .features-list {
    justify-content: space-between;
  }
}

.features-item {
  display: flex;
}
.features-item::before {
  content: "";
  display: block;
  width: 28px;
  height: 28px;
  background-image: url(../images/romb.png);
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .features-item {
    margin-left: 368px;
  }
}
@media screen and (min-width: 1280px) {
  .features-item {
    justify-content: baseline;
  }
}

@media screen and (min-width: 768px) {
  .features-item-last {
    display: flex;
    margin-left: 0;
    position: absolute;
    top: 100%;
    transform: translateY(-100%);
  }
  .features-item-last::before {
    content: "";
    display: block;
    width: 28px;
    height: 28px;
    background-image: url(../images/romb.png);
  }
}

@media screen and (max-width: 767px) {
  .features-item-last {
    display: flex;
    margin-left: 0;
  }
  .features-item-last::before {
    content: "";
    display: block;
    width: 28px;
    height: 28px;
    background-image: url(../images/romb.png);
  }
}

.features-box {
  margin-left: 12px;
}

.features-suptitle {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
}
@media screen and (max-width: 767px) {
  .features-suptitle {
    margin-bottom: 13px;
  }
}
@media screen and (min-width: 768px) {
  .features-suptitle {
    margin-bottom: 13px;
  }
}
.features-desc {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  max-width: 220px;
  height: 68px;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .features-desc {
    max-width: 238px;
    height: 51px;
  }
}
.video {
  background-color: #06071B;
}
@media screen and (max-width: 767px) {
  .video {
    height: 629px;
    background-image: url(../images/mobile/3-video/gradient.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 0px 300px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .video {
    padding-bottom: 40px;
    min-height: 622px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .video-container {
    position: relative;
  }
}
@media screen and (min-width: 1280px) {
  .video-container {
    display: flex;
    justify-content: space-between;
    padding-right: 105px;
    position: relative;
  }
}

@media screen and (min-width: 1280px) {
  .video-box {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
  }
}

.video-title {
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
}
@media screen and (max-width: 767px) {
  .video-title {
    font-size: 24px;
    line-height: 1.2;
    margin-bottom: 24px;
  }
}
@media screen and (min-width: 768px) {
  .video-title {
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1280px) {
  .video-title {
    text-align: left;
  }
}

.video-text {
  font-weight: 500;
  text-align: center;
  color: #FFFFFF;
}
@media screen and (max-width: 767px) {
  .video-text {
    margin-bottom: 24px;
    max-width: 280px;
    height: 119px;
    font-size: 14px;
    line-height: 1.2;
  }
}
@media screen and (min-width: 768px) {
  .video-text {
    font-size: 16px;
    line-height: 1.2;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .video-text {
    margin-bottom: 20px;
    max-width: 704px;
    height: 76px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
  }
}
@media screen and (min-width: 1280px) {
  .video-text {
    margin-bottom: 40px;
    text-align: start;
    max-width: 479px;
    height: 95px;
  }
}

.video-list {
  display: flex;
  justify-content: center;
  gap: 20px;
}
@media screen and (max-width: 767px) {
  .video-list {
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .video-list {
    margin-bottom: 40px;
    position: relative;
    z-index: 2;
  }
}
@media screen and (min-width: 1280px) {
  .video-list {
    justify-content: start;
  }
}

@media screen and (max-width: 767px) {
  .video-picture {
    background-image: url(../images/mobile/3-video/gradient.png);
  }
}
@media screen and (min-width: 1280px) {
  .video-picture {
    position: absolute;
    top: -93px;
    right: 10px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .video-picture {
    display: flex;
    justify-content: center;
    position: absolute;
    top: -100px;
    left: -40px;
    z-index: 1;
  }
}

.team {
  padding-bottom: 0;
}
@media screen and (max-width: 767px) {
  .team {
    background-image: url(../images/mobile/4-team/gradient.png);
    background-size: cover;
    background-position: 9% 1%;
  }
}
@media screen and (min-width: 768px) {
  .team {
    background-image: url(../images/tablet/4-team/gradient.png);
    background-size: cover;
    background-position: 50% 50%;
  }
}
@media screen and (min-width: 1280px) {
  .team {
    background-image: url(../images/desktop/4-team/gradient.png);
    background-size: cover;
    background-position: 5% 85%;
  }
}

.team-title {
  text-align: center;
  font-weight: 700;
}
@media screen and (max-width: 767px) {
  .team-title {
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 24px;
  }
}
@media screen and (min-width: 768px) {
  .team-title {
    font-size: 24px;
    line-height: 1.2;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .team-title {
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 1280px) {
  .team-title {
    margin-bottom: 80px;
  }
}

.team-text {
  font-weight: 500;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .team-text {
    font-size: 14px;
    line-height: 1.71;
    max-width: 280px;
    height: 120px;
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 768px) {
  .team-text {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .team-text {
    max-width: 704px;
    height: 72px;
  }
}
@media screen and (min-width: 1280px) {
  .team-text {
    max-width: 886px;
    height: 48px;
    margin-bottom: 80px;
    margin-left: auto;
    margin-right: auto;
  }
}

.team-list {
  display: flex;
}
@media screen and (max-width: 767px) {
  .team-list {
    flex-direction: column;
    gap: 24px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .team-list {
    flex-wrap: wrap;
    -moz-column-gap: 32px;
         column-gap: 32px;
    row-gap: 40px;
  }
}
@media screen and (min-width: 1280px) {
  .team-list {
    gap: 32px;
  }
}

.team-item {
  width: 100%;
  background: linear-gradient(312.87deg, rgba(0, 197, 235, 0.5) -0.2%, rgba(181, 68, 254, 0.5) 112.66%), #06071b;
  -webkit-backdrop-filter: blur(17.5px);
          backdrop-filter: blur(17.5px);
  border-radius: 15px;
}
@media screen and (max-width: 767px) {
  .team-item {
    padding-top: 16px;
    padding-left: 16px;
    padding-right: 16px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .team-item {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    width: calc((100% - 32px) / 2);
  }
}
@media screen and (min-width: 1280px) {
  .team-item {
    padding-top: 14px;
    padding-left: 12px;
    padding-right: 12px;
    width: calc((100% - 96px) / 4);
  }
}

.team-img {
  border-radius: 11px;
}

.team-content {
  padding-top: 24px;
  padding-bottom: 12px;
}
@media screen and (min-width: 768px) {
  .team-content {
    padding-top: 20px;
  }
}
.team-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  color: #ffffff;
  margin-bottom: 12px;
}

.team-desc {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71;
  text-align: center;
  color: #ffffff;
}

.customers {
  text-align: center;
}
@media screen and (max-width: 767px) {
  .customers {
    padding-top: 40px;
    padding-bottom: 86px;
    padding-bottom: 126px;
    background-image: url(../images/mobile/5-costumers/gradient.png);
    background-size: cover;
    background-position: 50% 50%;
  }
}
@media screen and (min-width: 768px) {
  .customers {
    padding-top: 80px;
    padding-bottom: 106px;
    background-image: url(../images/desktop/5-costumers/gradient.png);
    background-size: cover;
    background-position: 10% 15%;
  }
}
@media screen and (min-width: 1280px) {
  .customers {
    padding-bottom: 126px;
    background-image: url(../images/desktop/5-costumers/gradient.png);
    background-size: cover;
    background-position: 10% 15%;
  }
}

.customers-title {
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  margin-bottom: 40px;
}
@media screen and (max-width: 767px) {
  .customers-title {
    font-size: 20px;
    line-height: 1.2;
    max-width: 179px;
    height: 48px;
  }
}
@media screen and (min-width: 768px) {
  .customers-title {
    font-size: 24px;
    line-height: 1.2;
    max-width: 352px;
    height: 29px;
  }
}
.customers-img {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.customers-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.2;
  margin-bottom: 12px;
}
.customers-desc {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71;
}
@media screen and (max-width: 767px) {
  .customers-desc {
    margin-bottom: 24px;
  }
}
@media screen and (min-width: 768px) {
  .customers-desc {
    margin-bottom: 40px;
  }
}
.customers-text {
  font-weight: 500;
}
@media screen and (max-width: 767px) {
  .customers-text {
    font-size: 14px;
    line-height: 1.71;
  }
}
@media screen and (min-width: 768px) {
  .customers-text {
    font-size: 16px;
    line-height: 1.5;
  }
}
@media screen and (min-width: 1280px) {
  .customers-text {
    max-width: 886px;
    height: 96px;
    margin-left: auto;
    margin-right: auto;
  }
}

.contact {
  background: #06071b;
}
@media screen and (max-width: 767px) {
  .contact {
    background-image: url(../images/mobile/6-contact/gradient.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .contact {
    background-image: url(../images/tablet/6-contact/gradient.png);
    background-size: cover;
    background-position: 1px -50px;
  }
}
@media screen and (min-width: 1280px) {
  .contact {
    background-image: url(../images/desktop/6-contact/gradient.png);
    background-size: cover;
    background-position: 200px -350px;
  }
}

.contact-title {
  text-align: center;
  font-weight: 700;
  color: #ffffff;
}
@media screen and (max-width: 767px) {
  .contact-title {
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 768px) {
  .contact-title {
    font-size: 24px;
    line-height: 1.2;
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 1280px) {
  .contact-title {
    margin-bottom: 80px;
  }
}

@media screen and (min-width: 1280px) {
  .contact-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}

@media screen and (max-width: 767px) {
  .contact-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
@media screen and (min-width: 1280px) {
  .contact-form {
    width: 608px;
    height: 284px;
  }
}

@media screen and (min-width: 768px) {
  .contact-label {
    width: 50%;
  }
}

.container-input {
  width: 100%;
}
@media screen and (max-width: 767px) {
  .container-input {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
@media screen and (min-width: 768px) {
  .container-input {
    display: flex;
    gap: 32px;
    margin-bottom: 20px;
  }
}

.contact-input {
  padding-top: 11px;
  padding-bottom: 12px;
  padding-left: 8px;
  border-radius: 5px;
  height: 40px;
}
@media screen and (max-width: 767px) {
  .contact-input {
    width: 100%;
    height: 40px;
  }
}
@media screen and (min-width: 768px) {
  .contact-input {
    width: 100%;
  }
}
.contact-textarea {
  padding-top: 12px;
  padding-left: 8px;
  border-radius: 5px;
  resize: none;
}
@media screen and (max-width: 767px) {
  .contact-textarea {
    width: 100%;
    height: 220px;
  }
}
@media screen and (min-width: 768px) {
  .contact-textarea {
    height: 162px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .contact-textarea {
    width: 100%;
  }
}
@media screen and (min-width: 1280px) {
  .contact-textarea {
    width: 100%;
  }
}

.submit-button {
  display: block;
  font-weight: 700;
  font-size: 16px;
  width: 181px;
  height: 42px;
  margin-left: auto;
  margin-right: auto;
  background: linear-gradient(90.03deg, #00C5EB -1.97%, #B544FE 89.43%);
  border-radius: 5px;
  cursor: pointer;
  border: transparent;
  color: #ffffff;
  transform: scale(1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 767px) {
  .submit-button {
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 768px) {
  .submit-button {
    margin-top: 20px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .submit-button {
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 1280px) {
  .submit-button {
    margin-right: 0;
    margin-left: auto;
  }
}

.submit-button:hover {
  transform: scale(1.1);
  cursor: pointer;
  background: transparent;
  color: #ffffff;
  font-size: 16px;
  border-radius: 5px;
  position: relative;
}
.submit-button:hover:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 4px;
  background: linear-gradient(90.03deg, #00C5EB -1.97%, #B544FE 89.43%);
  background-size: 100% 100%;
  -webkit-clip-path: polygon(0% 100%, 2px 100%, 2px 2px, calc(100% - 2px) 2px, calc(100% - 2px) calc(100% - 2px), 2px calc(100% - 2px), 2px 100%, 100% 100%, 100% 0%, 0% 0%);
          clip-path: polygon(0% 100%, 2px 100%, 2px 2px, calc(100% - 2px) 2px, calc(100% - 2px) calc(100% - 2px), 2px calc(100% - 2px), 2px 100%, 100% 100%, 100% 0%, 0% 0%);
}

.contact-subtitle {
  margin-bottom: 20px;
  font-weight: 500;
  color: #FFFFFF;
}
@media screen and (max-width: 767px) {
  .contact-subtitle {
    text-align: center;
    font-size: 20px;
    line-height: 1.2;
  }
}
@media screen and (min-width: 768px) {
  .contact-subtitle {
    font-size: 24px;
    line-height: 1.2;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .contact-subtitle {
    text-align: center;
  }
}
.contact-text {
  font-weight: 500;
  color: #FFFFFF;
}
@media screen and (max-width: 767px) {
  .contact-text {
    font-size: 14px;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 768px) {
  .contact-text {
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .contact-text {
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    height: 38px;
  }
}
@media screen and (min-width: 1280px) {
  .contact-text {
    margin-bottom: 20px;
    max-width: 500px;
    height: 38px;
    text-align: left;
  }
}

.contact-list {
  display: flex;
  gap: 14px;
  justify-content: center;
  margin-bottom: 40px;
}
@media screen and (min-width: 1280px) {
  .contact-list {
    margin-bottom: 20px;
    justify-content: start;
  }
}

.contact-item {
  width: 40px;
  height: 40px;
}

.contact-link-facebook {
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  background-image: url(../svg/facebook-default.svg);
  transform: scale(1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1), background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-link-facebook:hover {
  background-image: url(../svg/facebook-hover.svg);
  transform: scale(1.1);
}

.contact-link-twitter {
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  background-image: url(../svg/twitter-default.svg);
  transform: scale(1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1), background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-link-twitter:hover {
  background-image: url(../svg/twitter-hover.svg);
  transform: scale(1.1);
}

.contact-link-linkedin {
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  background-image: url(../svg/linked-in.svg);
  transform: scale(1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1), background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-link-linkedin:hover {
  background-image: url(../svg/linkedin-hover.svg);
  background-size: contain;
  transform: scale(1.1);
}

.address-list {
  display: flex;
  gap: 12px;
  flex-direction: column;
  justify-content: center;
}
@media screen and (min-width: 1280px) {
  .address-list {
    justify-content: start;
  }
}

.address-link-number {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  color: #FFFFFF;
}
@media screen and (min-width: 1280px) {
  .address-link-number {
    display: flex;
  }
}

.address-link-mail {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
  color: #FFFFFF;
}
@media screen and (min-width: 1280px) {
  .address-link-mail {
    display: flex;
  }
}

.decoration-down {
  border: 1px solid #FFFFFF;
  width: 100%;
}

.footer {
  background: #06071B;
}

.footer-content {
  padding: 0;
}

.footer-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  color: #FFFFFF;
}
@media screen and (max-width: 767px) {
  .footer-text {
    padding-top: 22px;
    padding-bottom: 22px;
    padding-left: 24px;
    padding-right: 103px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .footer-text {
    padding-top: 22px;
    padding-bottom: 28px;
  }
}
@media screen and (min-width: 1280px) {
  .footer-text {
    padding-top: 22px;
    padding-bottom: 21px;
  }
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 1;
  background: #06071b;
  overflow: auto;
  z-index: 2;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translate(-50%);
}
@media screen and (max-width: 767px) {
  .modal {
    width: 280px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 48px;
    padding-bottom: 48px;
  }
}
@media screen and (max-width: 320px) {
  .modal {
    width: 95%;
  }
}
@media screen and (min-width: 768px) {
  .modal {
    width: 568px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
.btn-close-modal {
  position: absolute;
  top: 20px;
  right: 20px;
  display: inline-block;
  background: transparent;
  border: transparent;
  padding: 0;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .btn-close-modal {
    width: 24px;
    height: 24px;
  }
}
@media screen and (min-width: 768px) {
  .btn-close-modal {
    width: 28px;
    height: 28px;
  }
}

@media screen and (max-width: 767px) {
  .icon-close-modal {
    width: 24px;
    height: 24px;
  }
}
@media screen and (min-width: 768px) {
  .icon-close-modal {
    width: 28px;
    height: 28px;
  }
}

.title-download {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.4;
  color: #FFFFFF;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .title-download {
    margin-bottom: 24px;
  }
}
@media screen and (min-width: 768px) {
  .title-download {
    font-size: 24px;
    line-height: 1.17;
    margin-bottom: 28px;
  }
}

.subtitle-download {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.list-download {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  gap: 12px;
}

.item-download {
  display: flex;
  align-items: baseline;
  gap: 4px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: #FFFFFF;
}
.item-download::before {
  content: "";
  display: inline-flex;
  min-width: 14px;
  height: 14px;
  background-image: url(../svg/mark.svg);
  background-repeat: no-repeat;
}

.download-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #FFFFFF;
}
@media screen and (max-width: 767px) {
  .download-text {
    margin-bottom: 25px;
  }
}
@media screen and (min-width: 768px) {
  .download-text {
    margin-bottom: 32px;
  }
}

.box-download {
  display: flex;
}
@media screen and (max-width: 767px) {
  .box-download {
    flex-direction: column;
    row-gap: 20px;
    margin-bottom: 28px;
  }
}
@media screen and (min-width: 768px) {
  .box-download {
    gap: 22px;
    margin-bottom: 32px;
  }
}

.box-free {
  cursor: pointer;
  background: transparent;
  color: #ffffff;
  font-size: 16px;
  border-radius: 5px;
  position: relative;
  padding-top: 28px;
  padding-bottom: 88px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.box-free:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 4px;
  background: linear-gradient(90.03deg, #00C5EB -1.97%, #B544FE 89.43%);
  background-size: 100% 100%;
  -webkit-clip-path: polygon(0% 100%, 2px 100%, 2px 2px, calc(100% - 2px) 2px, calc(100% - 2px) calc(100% - 2px), 2px calc(100% - 2px), 2px 100%, 100% 100%, 100% 0%, 0% 0%);
          clip-path: polygon(0% 100%, 2px 100%, 2px 2px, calc(100% - 2px) 2px, calc(100% - 2px) calc(100% - 2px), 2px calc(100% - 2px), 2px 100%, 100% 100%, 100% 0%, 0% 0%);
}
.box-free:hover, .box-free:active, .box-free:focus {
  background: linear-gradient(90.03deg, #00C5EB -1.97%, #B544FE 89.43%);
  border-radius: 6px;
}

.icon-download {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  margin-bottom: 20px;
}

.box-paid {
  cursor: pointer;
  background: transparent;
  font-size: 16px;
  border-radius: 5px;
  position: relative;
  padding-top: 28px;
  padding-bottom: 28px;
}
.box-paid:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 4px;
  background: linear-gradient(90.03deg, #00C5EB -1.97%, #B544FE 89.43%);
  background-size: 100% 100%;
  -webkit-clip-path: polygon(0% 100%, 2px 100%, 2px 2px, calc(100% - 2px) 2px, calc(100% - 2px) calc(100% - 2px), 2px calc(100% - 2px), 2px 100%, 100% 100%, 100% 0%, 0% 0%);
          clip-path: polygon(0% 100%, 2px 100%, 2px 2px, calc(100% - 2px) 2px, calc(100% - 2px) calc(100% - 2px), 2px calc(100% - 2px), 2px 100%, 100% 100%, 100% 0%, 0% 0%);
}
.box-paid:hover, .box-paid:active, .box-paid:focus {
  background: linear-gradient(90.03deg, #00C5EB -1.97%, #B544FE 89.43%);
  border-radius: 6px;
}

.download-info {
  padding-top: 20px;
  padding-bottom: 20px;
  background: transparent;
  color: #ffffff;
  font-size: 16px;
  border-radius: 5px;
  position: relative;
}
.download-info:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 4px;
  background: linear-gradient(90.03deg, #00C5EB -1.97%, #B544FE 89.43%);
  background-size: 100% 100%;
  -webkit-clip-path: polygon(0% 100%, 2px 100%, 2px 2px, calc(100% - 2px) 2px, calc(100% - 2px) calc(100% - 2px), 2px calc(100% - 2px), 2px 100%, 100% 100%, 100% 0%, 0% 0%);
          clip-path: polygon(0% 100%, 2px 100%, 2px 2px, calc(100% - 2px) 2px, calc(100% - 2px) calc(100% - 2px), 2px calc(100% - 2px), 2px 100%, 100% 100%, 100% 0%, 0% 0%);
}
@media screen and (max-width: 767px) {
  .download-info {
    padding-left: 20px;
    background-image: url(../images/box-download.png);
    background-repeat: no-repeat;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 768px) {
  .download-info {
    background-image: url(../images/box-download-tablet.png);
    display: flex;
    margin-bottom: 32px;
    background-repeat: no-repeat;
  }
}

.download-list-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media screen and (max-width: 767px) {
  .download-list-info:first-child {
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 768px) {
  .download-list-info {
    width: 50%;
    padding-left: 20px;
  }
}

.download-item-info {
  display: flex;
  align-items: center;
  gap: 10px;
}
.download-item-info::before {
  content: "";
  display: inline-flex;
  width: 28px;
  height: 28px;
}

.icon-app::before {
  content: "";
  background-image: url(../svg/app.svg);
}

.icon-license::before {
  content: "";
  background-image: url(../svg/license.svg);
}

.icon-author::before {
  content: "";
  background-image: url(../svg/author.svg);
}

.icon-data::before {
  content: "";
  background-image: url(../svg/data.svg);
}

.icon-oc::before {
  content: "";
  background-image: url(../svg/OC.svg);
}

.icon-language::before {
  content: "";
  background-image: url(../svg/language.svg);
}

.icon-size::before {
  content: "";
  background-image: url(../svg/size.svg);
}

.icon-downloads::before {
  content: "";
  background-image: url(../svg/download-mini.svg);
}

.download-content {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.download-subtitle-info {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.25;
  color: #FFFFFF;
}

.download-text-info {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.25;
  color: #1AB9FD;
}

.btn-download {
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 767px) {
  .btn-download {
    max-width: 232px;
    height: 42px;
  }
}/*# sourceMappingURL=main.css.map */